@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}
.rajdhani {
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.winky-rough-regular {
  font-family: "Winky Rough", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.outfit-regular {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #0d0b8f90;
}

